.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; 
  /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end) 2,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to {width: 100%}
}

#career {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.836),
      rgb(0, 0, 0, 0.836)
    ),
    url("./assets/images/career image.png");
  height: auto;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* .overlayleft {
  position: relative;
  height: 750px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.76);
}
.overlayleft > div {
  margin-top: 5%;
  margin-left: 5%;
  color: white;
  z-index: 1;
}
.overlayleft > div > hr {
  background-color: #f36a1a;
  height: 2px;
  width: 17%;
  margin-bottom: 10%;
  margin-top: -1%;
}
.overlayright {
  position: relative;
  height: 750px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
  background-position: center;
  backdrop-filter: blur(50px);
  backdrop-filter: brightness(3px);
  backdrop-filter: opacity(0px);
}
.overlayright > h2 {
  margin-top: 10%;
  margin-left: 10%;
  color: white;
  z-index: 1;
  margin-top: 50%;
  margin-left: -30%;
} */
#cont {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.836),
      rgb(0, 0, 0, 0.836)
    ),
    url("./assets/images/contactback.jpg");
  height: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
 padding: 80px 0px;
}
#contact-form{
  padding-left: 100px;
}
#contact-heading{
  margin-bottom: 70px;
}

#car {
  z-index: 1;
  margin-top: 70%;
  margin-left: -120%;
  text-align: center;
  width: 700px;
}
#car > hr {
  width: 80%;
  height: 0.1px;
  background-color: white;
}
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)),
    url("./assets/images/robert-klank-yzHEoRSbixU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
footer > .container-fluid > ul > li > a {
  color: white;
}
#bottom-im1{
  width: 90px;margin-right: 30px;
}
@media only screen and (max-width: 600px) {
  #bottom-im2{
    float: right;
  }
}

/* for rightside icons */
.leftbts {
  position: fixed;
  top: 40%;
  left: -50px;
  z-index: 1;
  background-color: rgba(0, 0, 0);
  border-radius: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}
.leftbts > a > img {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: 40px;
  margin-right: -2px;
  color: white;
}

#hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgb(0, 0, 0, 0.7)
    ),
    url("./assets/images/kbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

#hero2 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgb(0, 0, 0, 0.7)
    ),
    url("./assets/images/hornbg2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
}

#homehero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgb(0, 0, 0, 0.6)
    ),
    url("./assets/images/home\ page\ image\(First\ image\).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#leadershipcontainer{
  height: 100vh;
  padding-bottom:0;
  padding-top:0;
}

#leadership {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.86),
      rgb(0, 0, 0, 0.86)
    ),
    url("./assets/images/matt\ horn\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#storyLeft2{
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.836),
      rgb(0, 0, 0, 0.836)
    ),
    url("./assets/images/spices.jpeg");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

#storyleft {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.836),
      rgb(0, 0, 0, 0.836)
    ),
    url("./assets/images/Our\ Story\ \(Kowbird\ chicken\).png");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

#ourStory {
  /* background-image:linear-gradient(to right, rgba(0, 0, 0, 0.836) , rgb(0,0,0,0.836)),url('./Images/ourStory.jpg'); */
  /*  linear-gradient(to left,#0000 50%,#ffffff 100%,0.8), */
  width: 100vw;
  height: 100vh;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

#matt_img {
  background-image: url("./assets/images/leadership.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
  align-self:center;
  width:80%;
  /* margin-left:15%; */
}

#kim_img{
    background-image: url("./assets/images/president.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
    align-self:center;
    width:80%;
  }

.separator hr {
  position: absolute;
  z-index: 1;
  width: 10%;
  background-color: white;
  height: 1px;
  margin-left: 40px;
  margin-top: 20px;
}

.fade-in {
  animation: fadeIn ease 15s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face{
  font-family: CustomFont ;
  src: url("./assets/images/MADE_SAONARA_PERSONAL_USE[1].otf");
  
}

body{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  width:100vw;
  color: white;
  overflow-x:hidden !important;
}

.form-group>input{
  background-color:Transparent ;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
.rbottom{
  position: absolute;
  top: 400px;
  right: 5px;
  z-index: 1;
  text-align: right;
 
}

.rbottom>ul>li>a,.home-left-tab-list{
  color: white;
}
.rbottom>ul>li{
  margin-bottom: 70px;
}
/* #news{
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.70) , rgb(0,0,0,0.70)),url('./assets/images/Image to use behind in news &media section in Horn barbrque page.png');
  height: auto;
  background-size: 50% 100% contain;
  background-repeat:no-repeat;
} */
#news{
  background-image: url('./assets/images/Image to use behind in news &media section in Horn barbrque page.png'),url("./assets/images/nandm.jpeg");

  background-repeat: no-repeat,no-repeat;
  height: auto,100%;
  background-size: 60% 100%,40% 100%;
  background-position: left top, right bottom;
  z-index: -1;
  backdrop-filter: grayscale(0.8) opacity(0.5);
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background:linear-gradient(rgba(15, 15, 15,0.5), rgba(15, 15, 15,0.5));
}
@media only screen and (max-width: 600px) {
}
.card-news{
  max-width: 300px;
  min-height: 300px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
#centerimg1{
  bottom:30%;
  width:30vw;
}

#centerimg2{
  bottom:40%;
  width:25vw;
  height:25vh;
}

@media screen and (max-width: 1050px) {
  #centerimg2{
    left:25%;
    bottom:50%;
    width:50vw;
  }

  #centerimg1{
    left:-5%;
    bottom:30%;
  }
  #mainHeading{
    font-size:10vw;
  }
  #show1,#show2{
    display:none;
  }

  #ourStory{
    flex-direction: column;
    width:100vw;
  }
  #storyleft,#storyLeft2{
    height:20vh;
  }
  #ourStory div h1{
    font-size:small;
  }
  #storytext{
    width:100%;
    padding:0 !important;
    margin:0% !important;
  }
  #storytext p{
    font-size:small;
    padding:20px !important;
    margin:0% !important;
  }
}
#le{
  font-size: 30px;
}
.vl {
  border-left: 1px solid white;
  height: 100px;
}
@media only screen and (max-width: 600px) {
  .vl{
    height: 0px;
  }
}
#navbar {
  position: fixed;
  top:-200px;
  padding-top: 2%;
  width: 100%;
  transition: top 0.5s;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}
.navimg {
  width: 130px;
  height: 60px;
}
#privacy-policy{
  text-align: right;
}
@media only screen and (max-width: 600px) {
  #privacy-policy{
    text-align: left;
  }
}